/.vscode/launch.json
/node_modules
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/storage
/public/svg
/public/video
/storage/*.key
/vendor
.DS_Store
.env
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
supervisord.log
yarn-error.log
