/**
 * Fonts.
 *
 * See:
 *  - [Web Font Optimization](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization)
 *  - [Controlling Font Performance with font-display](https://developers.google.com/web/updates/2016/02/font-display)
 */

@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("/fonts/Gotham-Black.woff2") format("woff2"),
    url("/fonts/Gotham-Black.woff") format("woff"),
    url("/fonts/Gotham-Black.ttf") format("truetype"),
    url("/fonts/Gotham-Black.eot") format("embedded-opentype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-weight: 800;
  src: url("/fonts/Gotham-Bold.woff2") format("woff2"),
    url("/fonts/Gotham-Bold.woff") format("woff"),
    url("/fonts/Gotham-Bold.ttf") format("truetype"),
    url("/fonts/Gotham-Bold.eot") format("embedded-opentype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/Gotham-Medium.ttf") format("truetype"),
    url("/fonts/Gotham-Medium.eot") format("embedded-opentype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("/fonts/Gotham-Book.woff2") format("woff2"),
    url("/fonts/Gotham-Book.woff") format("woff"),
    url("/fonts/Gotham-Book.ttf") format("truetype"),
    url("/fonts/Gotham-Book.eot") format("embedded-opentype");
  font-display: swap;
}
