/**
 * Reset CSS.
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gotham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  background-color: $black;
}

html {
  color: $white;
  font-size: 16px;
  font-family: "Gotham";
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}
