/**
 * First, we load all of this project's CSS dependencies.
 */

//

/**
 * Next, we load the project's variables and fonts.
 */

@import "variables";

@import "fonts";

/**
 * Then, we write the project's animations.
 */

@import "vue-animations";

@import "css-animations";

/**
 * Finally, we write the project's global styles.
 */

@import "reset";

.custom-button {
  padding: 10px 50px;
  color: $black;
  text-transform: uppercase;
  background: $white;
  border: 1px solid $white;
  cursor: pointer;
  transition: .4s all ease;

  &:hover {
    color: $white;
    background: transparent;
  }
}
