/**
 * First, we load all of this project's CSS dependencies.
 */

//

/**
 * Next, we load the project's variables and fonts.
 */

@import "variables";

@import "fonts";

/**
 * Then, we write the project's animations.
 */

/* Vue Animations */

// Slide.
.slide-enter-active,
.slide-leave-active {
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

// Appear / Fade.
.appear-enter-active,
.fade-enter-active {
  transition: all .4s ease;
}

.appear-leave-active,
.fade-leave-active {
  transition: all .4s ease;
}

.appear-enter,
.appear-leave-to,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* CSS animations */

.animated {
  animation-duration: .6s;
  animation-fill-mode: both;
}

.animated.delay-05s {
  animation-delay: .5s;
}

.animated.delay-1s {
  animation-delay: 1s;
}

.fade-in {
  animation-name: fadeIn;
}

.fade-in-up {
  animation-name: fadeInUp;
}

.fade-in-right {
  animation-name: fadeInRight;
}

.fade-in-left {
  animation-name: fadeInLeft;
}

.fade-out {
  animation-name: fadeOut;
}

.fade-out-left {
  animation-name: fadeOutLeft;
}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {

  from {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {

  from {
    transform: translate3d(20%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOutLeft {

  from {
    opacity: 1;
  }

  to {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
}

@keyframes fadeInUp {

  from {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/**
 * Finally, we write the project's global styles.
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background-color: $black;
}

html {
  color: $white;
  font-size: 16px;
  font-family: "TradeGothic";
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

.custom-button {
  padding: 10px 50px;
  color: $black;
  text-transform: uppercase;
  background: $white;
  border: 1px solid $white;
  cursor: pointer;
  transition: .4s all ease;

  &:hover {
    color: $white;
    background: transparent;
  }
}
